<%= form_with(model: cookbook_collection) do |form| %>
  <% if cookbook_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cookbook_collection.errors.count, "error") %> prohibited this cookbook_collection from being saved:</h2>

      <ul>
        <% cookbook_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :cuisine %>
    <%= form.text_field :cuisine %>
  </div>

  <div class="field">
    <%= form.label :publishes %>
    <%= form.number_field :publishes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
