<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cookbook.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @cookbook.author %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @cookbook.cuisine %>
</p>

<p>
  <strong>Year:</strong>
  <%= @cookbook.year %>
</p>

<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>
